.Navbar1 {
  background-color: white;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.div {
  background-color: cyan;
  color: blue;
  height: 80px;
}

.title {
  height: 100px;
  text-align: center;
}

.center {
  text-align: center;
  margin-bottom: 20px;
}

.centerP {
  text-align: center;
}

.pmargin {
  margin-left: 180px;
  margin-right: 180px;
}
.floater {
  float: left;
  color: white;
  background-color: rgb(0, 172, 237);
  margin-right: 10px;
  margin-top: 10px;
}
.divfloater {
  width: 400px;
}

.done {
  width: 100px;
  height: 45px;
  margin-top: 10px;
  border-radius: 40px;
  background-color: rgb(75, 114, 240);
}
.logout {
  width: 100px;
  height: 45px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: transparent;
  float: right;
}

.buttongrp {
  width: 100px;
  height: 50px;
  font-weight: bold !important;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 50px !important;
}
.fixedright {
  float: right;
}
.jumbotronH {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 50%;
  height: 1000px;
  margin-left: 20px;
}

.jumbotronL {
  width: 78%;
  margin-right: 150px;
  height: 300px;
  float: right;
}

.navprofile {
  position: initial;
  height: 500px;
  padding: 0em;
}

.navhome1 {
  text-align: center;
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: rgb(155, 229, 255);
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.jumbotronP1 {
  margin: 20px;
  width: 90%;
  height: 150px;
  background-color: lavenderblush;
}
.jumbotronP3 {
  float: left;
  size: "3x";
}

.jumbotronP2 {
  width: 70%;
  margin-right: 130px;
  height: 300px;
  float: right;
}

.margin-20 {
  margin: 20px;
}
.margin-10 {
  margin-left: 30px;
  margin-bottom: 10px;
  margin-right: 35px;
}

.floater-right1 {
  float: right;
  margin: 15px;
}
.floater-left1 {
  float: left;
  margin: 15px;
}
.position {
  height: 50px;
}
.containera {
  height: 600px;
}
.margin-15 {
  margin: 15px;
  float: left;
}
.margin-100 {
  height: 500px;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
}

.navprofile1 {
  background-color: rgb(242, 242, 242);
  width: 100%;
  border-radius: 1em;
}

.margin-0 {
  margin-top: 10px;
  margin-left: 130px;
  margin-right: 130px;
}

.patient {
  margin-top: 150px;
  height: 500px;
  margin-left: 200px;
  margin-right: 200px;
}
.bottom {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 250px;
}
.border {
  margin-right: 100px;
  margin-left: 100px;
}
.navnav {
  height: 40px;
  margin-bottom: 1em;
}
.inputers {
  background-color: rgba(242, 242, 242);
  border-radius: 2em;
}
.CONTAINER {
  height: max-content;
  min-height: max-content;
  width: 100%;
}
.CONTAINER15 {
  height: max-content;
  min-height: 350px;
  width: 100%;
}
.CONTAINER1 {
  height: max-content;
  min-height: 100px;
  width: 100%;
}
